*{
    text-align: center;
    background-color: rgb(14, 48, 14);
    color: rgb(255, 242, 58);
    font-size: 100%;
}

p{
    text-decoration: overline;
}

#opc{
    border-style:dotted;
    padding: 5%;
    margin: 3%;
    box-shadow: 3px 3px 10px rgb(11, 192, 86);
}